<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="fragments/navbar :: top-navbar"></div>
	<div class="jumbotron bg-white border border-warning mt-3 py-4">
		<h1 class="display-5 mb-3">Update User</h1>
		<form th:action="@{/user/update}" method="post">
			<div class="form-group">
				<label>Id</label> <input type="text" class="form-control"
					name="userid" th:value="${userRoles?.user?.id}" readonly>
			</div>
			<div class="form-group">
				<label>First Name</label> <input type="text" class="form-control"
					name="first" th:value="${userRoles?.user?.first_name}"
					placeholder="Type in First Name" required>
			</div>
			<div class="form-group">
				<label>Last Name</label> <input type="text" class="form-control"
					name="last" th:value="${userRoles?.user?.last_name}"
					placeholder="Type in Last Name" required>
			</div>
			<div class="form-group">
				<label>Username</label> <input type="text" class="form-control"
					name="username" th:value="${userRoles?.user?.username}"
					placeholder="Type in Username" required>
			</div>
			<div class="form-group">
				<label>Email</label> <input type="text" class="form-control"
					name=email th:value="${userRoles?.user?.email}"
					placeholder="Type in Email" required>
			</div>
			<div class="form-group">
				<label>Birth</label> <input type="date" class="form-control"
					name="birth"
					th:value="${#dates.format(userRoles?.user?.birth,'yyyy-MM-dd')}"
					required>
			</div>
			<div class="form-group">
				<label>Role</label> <select class="custom-select" name="role"
					required>
					<option value="" selected>Select a Role</option>
					<option th:each="role: ${userRoles?.roles}" th:value="${role.id}"
						th:text="${role.role_name}"
						th:selected="${role.id}==${userRoles?.user?.role?.id}"></option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary mt-2"
				style="min-width: 100px">Save</button>
			<a class="btn btn-secondary mt-2" th:href="@{/user/userlist}"
				style="min-width: 100px">Cancel</a>
		</form>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
</body>
</html>